p {
	color: #000000;
	font: normal 12px Times New Roman;
}
header {
	color: #000000;
	font: normal 12px Times New Roman;
}
h4 {
	color: #000000;
	font: normal 14px Times New Roman;
}
h3 {
	color: #000000;
	font: italic 16px Times New Roman;
}
h2 {
	color: #000000;
	font: bold 18px Times New Roman;
}
h1 {
	color: #000000;
	font: bold 24px Times New Roman;
}
.two {
	color: #1481AB;
	font: normal 26px Times New Roman;
}
.three {
	color: #487B77;
	font: normal 12px Times New Roman;
}
.six {
	color: #0D5571;
	font: normal 12px Times New Roman;
}
.four {
	color: #FF0000;
	font: italic bold 32px Cambria;
}
.footer {
	color: #000000;
	font: normal 12px Times New Roman;
}
.five {
	color: #FF0000;
	font: italic bold 32px Cambria;
}
