p {
	color: #000000;
	font: normal 12px Times New Roman;
}
header {
	color: #000000;
	font: normal 12px Times New Roman;
}
h4 {
	color: #000000;
	font: normal 14px Times New Roman;
}
h3 {
	color: #000000;
	font: normal 12px Times New Roman;
}
h2 {
	color: #000000;
	font: bold 18px Times New Roman;
}
h1 {
	color: #000000;
	font: bold 24px Times New Roman;
}
.two {
	color: #FF0000;
	font: italic bold 32px Cambria;
}
.one {
	color: #538135;
	font: normal 12px Times New Roman;
}
.footer {
	color: #000000;
	font: normal 12px Times New Roman;
}
