p {
	color: '#000000';
	font: 'normal 12 Times New Roman';
}
header {
	color: '#000000';
	font: 'normal 12 Times New Roman';
}
h4 {
	color: '#000000';
	font: 'normal 14 Times New Roman';
}
h3 {
	color: '#000000';
	font: 'normal 12 Times New Roman';
}
h2 {
	color: '#000000';
	font: 'bold 18 Times New Roman';
}
h1 {
	color: '#000000';
	font: 'normal 12 Times New Roman';
}
.footer {
	color: '#000000';
	font: 'normal 12 Times New Roman';
}
.8 {
	font: 'ib 32 Cambria';
}
